# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Logs
*.log
logs/
*.log.*
*.tgz

# Environment variables
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
coverage/

# Output
/dist/
/build/

# Cypress plugins
cypress/plugins/index.js

# Miscellaneous
*.swp
*.swo
*.bak
*.tmp
